DEBUG=True
FRONT_URL=http://localhost:3000/
HOST=localhsot
PORT=8000
SECRET_KEY=secret
ACCESS_TOKEN_EXPIRE=2592000
REFRESH_TOKEN_EXPIRE=2592000
RECOVERY_TOKEN_EXPIRE=2592000
POSTGRES_DB=db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432